.navbar {
  border-bottom: 1px solid #dee2e6;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.navbar-brand {
  &__img {
    width: 120px;
    height: auto;
  }
}

.logOut-button {
  cursor: pointer;
}
