<footer class="footer mt-auto py-3">
  <div class="container">
    <nav class="nav navbar-light">
      <a class="nav-link text-secondary" routerLink="/">Top</a>
      <a class="nav-link text-secondary" routerLink="/pages/about">About</a>
      <a class="nav-link text-secondary" routerLink="/pages/terms">利用規約</a>
      <a class="nav-link text-secondary" routerLink="/pages/privacy">プライバシーポリシー</a>
      <a class="nav-link text-secondary" routerLink="/pages/contact">問い合わせ</a>
    </nav>
  </div>
</footer>
