<div class="container mb-3">
  <div class="row">
    <main class="mt-3">
      <section class="mb-3">
        <article>
          <h1 class="h4">このサイトについて</h1>
          <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。</p>
          <p>テキストテキストテキストテキストテキストテキストテキストテキストテキスト。<br>
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。</p>
          <figure>
            <img src="../../../assets/img/logo-hon.jpeg" class="img-fluid border rounded" alt="メインビジュアル">
          </figure>
        </article>
      </section>
    </main>
  </div>
</div>
