<h1 class="h4 mb-3">AIバチェラープライバシーポリシー</h1>
<p>
  当サイト運営者（以下「運営者」といいます。）並びにその関連等は、「AIバチェラー」（以下「本サービス」といいます。）を提供しています。<br>
  本サービスを利用するすべての利用者（以下「利用者」といいます。）から取得および利用し、また、保管している当該情報は、運営者が定めるこのプライバシーポリシー（以下「本ポリシー」といいます。）を採用するものとします。<br>
  本ポリシーは、運営者が利用者の個人情報を取得して取扱う目的および方法を明らかにし、個人情報に関する利用者の権利について理解を深めていただくためのものです。運営者は、利用者による本サービスのご利用にあたり、ご自身の情報がどのように取扱われるか、ご理解いただけるよう取り組んでいます。<br>
  本ポリシーで使用される用語に関しては、AIバチェラー利用規約 第1条 本サービスにおける用語と定義に規定した通りとします。
</p>

<section>

  <article class="mb-3">
    <h2 class="h5 fw-bold">第1条 個人情報の定義</h2>
    <p>
      運営者は以下の情報を個人情報と定めるものとします。
    </p>
    <ol>
      <li>アカウントのIDおよびパスワード</li>
      <li>氏名およびメールアドレス</li>
      <li>アカウントに付随または関連する情報として利用者から提供される、性別、年齢、生年月日、電話番号、住所その他の利用者に関する情報。</li>
      <li>本サービスの利用（閲覧および書込み等の行為を含みます）、購買、応募その他の本サービスを通じて利用者が行った取引の遂行のための情報および当該取引に関する情報（お支払いに利用した決済方法等を含みます。）。</li>
      <li>お支払いのために利用されるクレジットカード情報、銀行口座情報、その他の決済に関する情報</li>
    </ol>
  </article>

  <article class="mb-3">
    <h2 class="h5 fw-bold">第2条 情報通信端末に関する情報およびCookie等を利用して取得する情報</h2>
    <p>
      利用者が本サービスを利用した場合、本サービスに関連する広告やコンテンツに接した場合、または利用者がCookie等（ウェブビーコン、UID、その他の技術を含み、以下単に「Cookie等」といいます。）を有効にしている場合、運営者は、自動的に、利用者が利用したPC、携帯電話端末、タブレットその他の情報通信端末に関する情報およびCookie等を通じた情報を取得します。
    </p>
    <p>運営者は、情報通信端末およびCookie等から以下のような情報を取得します。</p>

    <ol>
      <li>端末ID等の情報通信端末の機体識別に関する情報</li>
      <li>情報通信端末のOS情報、インターネットへの接続に関する情報</li>
      <li>位置情報</li>
      <li>リファラIPアドレス</li>
      <li>閲覧したURLおよび閲覧した日時に関するタイムスタンプ</li>
      <li>上記以外のサーバーログ情報</li>
      <li>表示もしくは検索された商品またはサービス等に関する情報</li>
    </ol>

  </article>

  <article class="mb-3">
    <h2 class="h5 fw-bold">第3条 第三者から取得する情報</h2>
    <p>
      利用者が本サービスを利用した場合、本サービスに関連する広告やコンテンツに接した場合、または利用者がCookie等（ウェブビーコン、UID、その他の技術を含み、以下単に「Cookie等」といいます。）を有効にしている場合、運営者は、自動的に、利用者が利用したPC、携帯電話端末、タブレットその他の情報通信端末に関する情報およびCookie等を通じた情報を取得します。
    </p>
    <p>運営者は、情報通信端末およびCookie等から以下のような情報を取得します。</p>

    <ol>
      <li>
        利用者が本サービスを利用した場合、運営者は、必要性があり適用法令が許容する限りにおいて、利用者の情報の提供を第三者に要請して、または一般に公表されている情報から、信用情報並びに不正行為等の防止および対応に必要な情報等を取得する場合があります。また、利用者からの同意がある場合にも、その同意に基づいて、第三者から利用者の個人情報を取得または受領することがあります。
      </li>
      <li>
        運営者は、本サービスにおいて、当該サービスの提供に必要不可欠な場合または法令が許容する場合を除き、人種、信条、社会的身分、病歴、犯罪歴、犯罪による被害に遭った事実等の利用者の機微にかかる情報（以下「機微情報」といいます。）を意図して取得しまたは利用することはございません。
      </li>
      <li>利用者ご自身の意思により、機微情報をご提供いただいた場合には、運営者は、利用者が同意のもとで当該情報をご提供いただいたものとして、本ポリシーに基づいて当該機微情報を取扱います。</li>
    </ol>

  </article>

  <article class="mb-3">
    <h2 class="h5 fw-bold">第4条 第三者へ提供する情報</h2>
    <p>
      運営者は、利用者の同意を得ず、利用者の個人情報を第三者に提供しません。ただし、以下の場合はこの限りではありません。
    </p>

    <ol>
      <li>運営者が、利用者との間で対価の支払い、または受け取りを行う目的で、決済代行事業者に委託する場合。</li>
      <li>運営者が、利用者に商品を発送する目的で、宅配便事業者に委託する場合。</li>
      <li>運営者が、商品の製造を行う目的で、各種業者に委託する場合。</li>
      <li>運営者が、利用者にメールの配信を行う目的で、配信サービスを有する事業者に委託する場合。</li>
      <li>運営者が、法務を遂行する目的で、弁護士に委託する場合。</li>
      <li>運営者が、税務を遂行する目的で、税理士に委託する場合。</li>
      <li>その他、運営者が、本サービスの業務を遂行する目的で、業務の一部を事業者に委託する場合。</li>
    </ol>

  </article>

  <article class="mb-3">
    <h2 class="h5 fw-bold">第5条 サービス向上への利用</h2>
    <p>運営者は第1条、第2条、第3条で収集した情報から利用者の嗜好またはその他の特性を推定し、本サービス及び本サービスに関連する業務の向上に利用する場合があります。</p>

  </article>

  <article class="mb-3">
    <h2 class="h5 fw-bold">第6条 個人情報の利用</h2>
    <p>運営者は、個人情報を以下の目的で利用します。</p>

    <ol>
      <li>商品の発送を含む本サービスの役務の提供</li>
      <li>本サービスに関する案内、問い合わせへの対応</li>
      <li>すべての規約に違反する行為への対応</li>
      <li>規約の変更や重要な情報の利用者への通知</li>
      <li>本サービスを含む運営者に関連する事業の宣伝</li>
      <li>利用者の嗜好またはその他の特性を推定し、本サービス及び本サービスに関連する業務の向上に利用する場合</li>
      <li>本サービスの改善、新サービスの開発</li>
      <li>取引履歴(内容、金額、日時)、その他すべての利用情報は、平均価格などの統計情報に加工され、公開される場合があります。</li>
      <li>その他、上記利用目的に付随する目的</li>
    </ol>

  </article>

  <article class="mb-3">
    <h2 class="h5 fw-bold">第7条 個人情報の利用に関する法的根拠</h2>
    <p>利用者は、個人情報の内容が常に正確であることを運営者に対して保証し、不正確な個人情報によって発生した損害について、利用者が一切の責任を負うものとします。</p>
    <p>
      運営者は、利用者に広告、宣伝のための電子メールを送信しようとする場合や、機微情報を取扱う場合などに、一定の種類の個人情報の収集および利用について、利用者に同意をお願いする場合があります。個人情報の取扱いについて同意をお願いする場合、運営者は利用者がいつでもその同意を撤回できることを保証します。
      <br>運営者は、ほとんどの場合、以下の事項のうち一つを個人情報の取扱いの根拠とします。
    </p>

    <ol>
      <li>本サービスを提供するための契約上の義務を履行するため</li>
      <li>マネーロンダリング（資金洗浄）防止に関する義務を充足するために利用者の本人確認書類を取得するなど、運営者の法的義務を遵守するため</li>
      <li>利用者による本サービスの利用状況を理解し、それをもとに本サービスを改善することや、利用者に合わせた広告等を適切な手法でお届けすることなど、運営者の正当な利益を確保するため</li>
      <li>利用者に最適でユニークなサービスを届けるため</li>
      <li>本サービスを利用するために必要な情報を、利用者から正当な手段で取得した場合、当該情報は運営者の正当な利益であるため</li>
    </ol>

  </article>

  <article class="mb-3">
    <h2 class="h5 fw-bold">第8条 個人情報の保持</h2>

    <ol>
      <li>
        運営者は、契約上の義務の履行を目的として、利用者へのサービスの提供、利用者との取引等が継続される限り（本サービスのアカウントを維持していただくなど）利用者の個人情報を保持し、また、利用者へのサービスを提供するものとします。
      </li>
      <li>運営者は、利用者との取引等が終了した後も、利用者の個人情報は本サービスが継続される限り、法令の許す範囲内で必要に応じて保持するものとします。</li>
      <li>運営者は、情報通信端末に関する情報およびCookie等を利用して取得する情報などの情報について、本サービスが継続する限り、必要に応じて利用および保持を行います。</li>
      <li>運営者は、適用法令を遵守するために利用者の個人情報を保持しなければならない場合や、未解決の請求もしくは苦情に対応する場合など、正当な必要性がある場合を除き、上記の範囲を越えて利用者の個人情報を保持することはありません。
      </li>
      <li>運営者は、利用者から利用者本人の個人情報の開示を求められた場合は、その開示に応じます。ただし、
        利用者本人または第三者の生命・身体・財産その他の権利を害するおそれがある場合、開示に応じることが運営者の業務遂行に著しい障害を生じさせる場合、その他法令に違反する恐れがある場合には、その全部または一部を開示しない場合があります。
      </li>
    </ol>

  </article>

  <article class="mb-3">
    <h2 class="h5 fw-bold">第9条 利用者の意思表示</h2>
    <p>利用者による、運営者への個人情報のご提供は、原則として利用者の意思によって行われるものです。<br>
      利用者により個人情報をご提供いただけない場合には、利用者は、本サービスの全部または一部のサービスを利用することができません。そのことにより、利用者に不利益が発生する場合においても、運営者は一切の責めを負いません。</p>

  </article>

  <article class="mb-3">
    <h2 class="h5 fw-bold">第10条 API（特定のプログラムを別のプログラムから動作させるための技術仕様）との連携</h2>

    <ol>
      <li>
        運営者は、クレジットカード情報(名義人、番号、有効期限、CVC)を取得、保管しません。本サービスではクレジットカード決済を当該事業者に委託しています。クレジットカード情報の取り扱いと責任については当該事業者のプライバシーポリシーが適用されます。
      </li>
      <li>運営者が使用するCookieのうち、利用状況の把握について、Google Inc.が提供するGoogle AnalyticsおよびTwitter,
        Inc.が提供するTwitterコンバージョントラッキングを用いて、個人を特定しない情報を収集する場合があります。収集される情報の取り扱いと責任については各社のプライバシーポリシー(Google Inc.、Twitter,
        Inc.)が適用されます。</li>
    </ol>

  </article>

  <article class="mb-3">
    <h2 class="h5 fw-bold">第11条 本サービス以外のサービスへの利用</h2>

    <ol>
      <li>
        運営者が運営する本サービス以外のサービスへの情報の連携は、各サービスが一体となって、より魅力的なサービスを開発し、利用者に提供するために必要不可欠です。そのため、運営者が本ポリシーに従って取得した利用者の個人情報は、各サービスから運営者に集約されることによって、一元的に運営者によって、運営者が想定する範囲の安全かつ適正に管理されます。
      </li>
      <li>運営者は、本ポリシー所定の利用者の個人情報を、本ポリシー所定の目的のために、運営者を管理責任者として各サービスで利用します。</li>
    </ol>

  </article>

  <article class="mb-3">
    <h2 class="h5 fw-bold">第12条 免責</h2>
    <p>運営者は、第三者による個人情報の取り扱いに関し、次に掲げる場合には一切の責任を負いません。</p>

    <ol>
      <li>利用者が、本サービスの機能または別の手段を用いて第三者に個人情報を明らかにした場合。</li>
      <li>第三者が、外部の手段を用いて取得した利用者の個人情報を本サービスの機能を用いて明らかにした場合。</li>
    </ol>

  </article>

  <article class="mb-3">
    <h2 class="h5 fw-bold">第13条 本ポリシーの変更及び改定</h2>
    <p>運営者は、本ポリシーを社会通念、法令変更への対応の必要性および事業上の必要性等に応じて、随時、変更および改正する場合があり、当該変更等について、この本サービス及び本サービスの関連サービス内に掲示するものとします。</p>
    <p>
      利用者は、この本サービス及び本サービスの関連サービス内に掲示される変更等の後の最新の本ポリシーの内容を十分に確認し、理解した上で、本サービスを再び利用することができるものとします。利用者は、個人情報の内容が常に正確であることを運営者に対して保証し、不正確な個人情報によって発生した損害について、利用者自身が一切の責任を負うものとします。
    </p>

  </article>


</section>
