section {
  margin-bottom: 2rem;
  padding: 1.5rem;
  border-radius: 4px;
  background-color: #f7f9f9;
}

.img-profile {
  width: 125px;
  height: 125px;
  object-fit: cover;
  border-radius: 50%;
  border: solid 1px #ccc;
}

.user-name {
  margin: auto 0 auto 1em;
}

.profile-introduction {
  white-space: pre-wrap;
}
