<section class="mb-3">
  <h1 class="mb-3 h2">パスワード修正</h1>
  <p>パスワードを再発行します。<br>登録したメールアドレスを送信し、パスワード再発行を申請してください。</p>
  <p class="text-muted">※セキュリティー保護のため、申請後は一旦ログアウトします。</p>

  <form class="mb-3" #f="ngForm" (submit)="resetPassWordSend()">
    <div class="mb-3">
      <label for="InputEmail1" class="form-label">メールアドレス</label>
      <input type="email" [(ngModel)]="email" name="email" class="form-control" id="InputEmail1"
        aria-describedby="emailHelp" required>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!f.form.valid || loading">修正する</button>
    <a routerLink="../" class="ms-3 btn btn-secondary">戻る</a>
  </form>

</section>
