<h1 class="h4">バチェロレッテ一覧</h1>

<form class="mb-5" action="">
  <select class="form-select" aria-label="Default select example">
    <option selected>カテゴリー</option>
    <option value="1">ツンデレ</option>
    <option value="2">お姉さん</option>
    <option value="3">アイドル</option>
    <option value="3">ドジっ娘</option>
    <option value="3">ボクっ子</option>
    <option value="3">ヤンデレ</option>
    <option value="3">お嬢様</option>
    <option value="3">ギャル</option>
    <option value="3">女上司</option>
    <option value="3">女王様</option>
    <option value="3">その他</option>
  </select>

  <p class="text-end mt-3">
    <button type="submit" class="btn btn-primary">探す</button>
  </p>
</form>

<div class="row row-cols-1 row-cols-md-2 g-4">

  <!-- <div class="col-6" *ngFor="let lives of livesList"> -->
  <div class="col-md-3 col-6">
    <div class="card card-live">
      <!-- <img src="{{lives.thumbnailPath}}" class="card-img-top" alt="..."> -->
      <img src="../../assets/img/ai1.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title h6">
          <!-- <a routerLink="/chat-game/detail/{{lives.id}}" class="stretched-link">{{lives.title}}</a> -->
          <a routerLink="/chat-game/detail/1" class="stretched-link">中島 みくり</a>
        </h3>
        <p class="text-muted">カテゴリー: <br>ギャル</p>
        <p class="text-muted">残席: 1</p>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-6">
    <div class="card card-live">
      <!-- <img src="{{lives.thumbnailPath}}" class="card-img-top" alt="..."> -->
      <img src="../../assets/img/ai2.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title h6">
          <!-- <a routerLink="/chat-game/detail/{{lives.id}}" class="stretched-link">{{lives.title}}</a> -->
          <a routerLink="/chat-game/detail/1" class="stretched-link">山本 絵里那</a>
        </h3>
        <p class="text-muted">カテゴリー: <br>お嬢様</p>
        <p class="text-muted">残席: 2</p>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-6">
    <div class="card card-live">
      <!-- <img src="{{lives.thumbnailPath}}" class="card-img-top" alt="..."> -->
      <img src="../../assets/img/ai3.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title h6">
          <!-- <a routerLink="/chat-game/detail/{{lives.id}}" class="stretched-link">{{lives.title}}</a> -->
          <a routerLink="/chat-game/detail/1" class="stretched-link">菊地 佐由理</a>
        </h3>
        <p class="text-muted">カテゴリー: <br>ヤンデレ</p>
        <p class="text-muted">残席: 1</p>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-6">
    <div class="card card-live">
      <!-- <img src="{{lives.thumbnailPath}}" class="card-img-top" alt="..."> -->
      <img src="../../assets/img/ai4.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title h6">
          <!-- <a routerLink="/chat-game/detail/{{lives.id}}" class="stretched-link">{{lives.title}}</a> -->
          <a routerLink="/chat-game/detail/1" class="stretched-link">仲道 まど佳</a>
        </h3>
        <p class="text-muted">カテゴリー: <br>アイドル</p>
        <p class="text-muted">残席: 3</p>
      </div>
    </div>
  </div>


  <!-- <div class="col-6" *ngFor="let lives of livesList"> -->
  <div class="col-md-3 col-6">
    <div class="card card-live">
      <!-- <img src="{{lives.thumbnailPath}}" class="card-img-top" alt="..."> -->
      <img src="../../assets/img/ai1.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title h6">
          <!-- <a routerLink="/chat-game/detail/{{lives.id}}" class="stretched-link">{{lives.title}}</a> -->
          <a routerLink="/chat-game/detail/1" class="stretched-link">中島 みくり</a>
        </h3>
        <p class="text-muted">カテゴリー: <br>ギャル</p>
        <p class="text-muted">残席: 1</p>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-6">
    <div class="card card-live">
      <!-- <img src="{{lives.thumbnailPath}}" class="card-img-top" alt="..."> -->
      <img src="../../assets/img/ai2.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title h6">
          <!-- <a routerLink="/chat-game/detail/{{lives.id}}" class="stretched-link">{{lives.title}}</a> -->
          <a routerLink="/chat-game/detail/1" class="stretched-link">山本 絵里那</a>
        </h3>
        <p class="text-muted">カテゴリー: <br>お嬢様</p>
        <p class="text-muted">残席: 2</p>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-6">
    <div class="card card-live">
      <!-- <img src="{{lives.thumbnailPath}}" class="card-img-top" alt="..."> -->
      <img src="../../assets/img/ai3.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title h6">
          <!-- <a routerLink="/chat-game/detail/{{lives.id}}" class="stretched-link">{{lives.title}}</a> -->
          <a routerLink="/chat-game/detail/1" class="stretched-link">菊地 佐由理</a>
        </h3>
        <p class="text-muted">カテゴリー: <br>ヤンデレ</p>
        <p class="text-muted">残席: 1</p>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-6">
    <div class="card card-live">
      <!-- <img src="{{lives.thumbnailPath}}" class="card-img-top" alt="..."> -->
      <img src="../../assets/img/ai4.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title h6">
          <!-- <a routerLink="/chat-game/detail/{{lives.id}}" class="stretched-link">{{lives.title}}</a> -->
          <a routerLink="/chat-game/detail/1" class="stretched-link">仲道 まど佳</a>
        </h3>
        <p class="text-muted">カテゴリー: <br>アイドル</p>
        <p class="text-muted">残席: 3</p>
      </div>
    </div>
  </div>

  <!-- <p *ngIf="livesLength === 0">講座が見つかりません</p> -->
</div>
