<div class="row my-3">
  <div class="col-md-5 col-12">

    <h1 class="h4 fw-bold">菊地 佐由理</h1>
    <p>
      カテゴリー: <time>ヤンデレ</time>
    </p>

    <div class="ai-image">
      <figure>
        <img class="w-100 shadow rounded" src="../../../assets/img/ai3.png" [alt]="">
      </figure>
    </div>
    <div class="ai-detail__pc mt-4">
      <h3 class="h4">彼女について</h3>
      <p class="ai-detail__exp">テキストテキストテキストテキストテキストテキストテキストテキスト<br>
        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
    </div>


  </div>

  <div class="col-md-7 col-12 mt-md-0 mt-3">
    <h2 class="h4">チャット</h2>

    <div class="chat-list border p-2" id="chat-area">

      <div class="chat-left">
        <div class="faceicon">
          <img src="../../../assets/img/ai3.png" alt="">
        </div>
        <div class="chatting">
          <div class="says says-ai">
            <small class="fw-bold">
              <span>菊地 佐由理</span>
            </small>
            <br>
            <p>こんにちは。今日は来てくれてありがとう。君について教えて。</p>
          </div>
        </div>
      </div>

      <div class="chat-left">
        <div class="faceicon">
          <img src="../../../assets/img/no-image-icon.jpeg" alt="">
        </div>
        <div class="chatting">
          <div class="says">
            <small class="fw-bold">
              <span>テスト三郎</span>
            </small>
            <br>
            <p>こんにちは!僕はテスト三郎っていいます!!</p>
          </div>
        </div>
      </div>

      <div class="chat-left">
        <div class="faceicon">
          <img src="../../../assets/img/no-image-icon.jpeg" alt="">
        </div>
        <div class="chatting">
          <div class="says">
            <small class="fw-bold">
              <span>テスト三郎</span>
            </small>
            <br>
            <p>佐由理さんと愛を語りにきました!</p>
          </div>
        </div>
      </div>

      <div class="chat-left">
        <div class="faceicon">
          <img src="../../../assets/img/no-image-icon.jpeg" alt="">
        </div>
        <div class="chatting">
          <div class="says">
            <small class="fw-bold">
              <span>テスト三郎</span>
            </small>
            <br>
            <p>必ず僕の愛をあなたに届けて見せます!</p>
          </div>
        </div>
      </div>


      <div class="chat-left">
        <div class="faceicon">
          <img src="../../../assets/img/ai3.png" alt="">
        </div>
        <div class="chatting">
          <div class="says says-ai">
            <small class="fw-bold">
              <span>菊地 佐由理</span>
            </small>
            <br>
            <p>こんにちは、三郎くん。私と愛を語りたいのね？嬉しいわ。でも、君が私と愛を語れるにふさわしい人かしら？ちょっと確認させてもらうわね。</p>
          </div>
        </div>
      </div>

      <div class="chat-left">
        <div class="faceicon">
          <img src="../../../assets/img/no-image-icon.jpeg" alt="">
        </div>
        <div class="chatting">
          <div class="says">
            <small class="fw-bold">
              <span>テスト三郎</span>
            </small>
            <br>
            <p>もちろんです、なんでも言ってください!</p>
          </div>
        </div>
      </div>

    </div>

    <form class="mt-3">
      <div class="input-group">
        <input type="text" name="messageText" class="form-control" minlength="2" [attr.maxlength]="99"
          placeholder="メッセージは2文字以上100文字以内" required aria-describedby="button-addon">
        <button class="btn btn-outline-secondary" type="button" id="button-addon">送信</button>
      </div>
    </form>

    <div class="mt-5">
      <h3 class="h4 mb-3">チャット参加者</h3>

      <div class="mx-2">
        <div class="d-flex justify-content-start">
          <figure>
            <div>
              <img src="../../../assets/img/no-image-icon.jpeg" class="img-profile" alt="ユーザーアバター">
              <!-- <figcaption><small>プロフィール画像未登録</small></figcaption> -->
            </div>
          </figure>
          <div class="user-name">
            <h4 class="h6 fw-bold mb-1">テスト三郎</h4>
            <p class="profile-introduction">テキストテキストテキストテキストテキストテキストテキスト<a routerLink="/article/detail/1">...続きを読む</a>
            </p>
          </div>
        </div>

        <div class="d-flex justify-content-start">
          <figure>
            <div>
              <img src="../../../assets/img/icon1.jpeg" class="img-profile" alt="ユーザーアバター">
              <!-- <figcaption><small>プロフィール画像未登録</small></figcaption> -->
            </div>
          </figure>
          <div class="user-name">
            <h4 class="h6 fw-bold mb-1">test ichiro</h4>
            <p class="profile-introduction">テキストテキストテキストテキストテキストテキストテキスト<a routerLink="/article/detail/1">...続きを読む</a>
            </p>
          </div>
        </div>

        <div class="d-flex justify-content-start">
          <figure>
            <div>
              <img src="../../../assets/img/icon2.jpeg" class="img-profile" alt="ユーザーアバター">
              <!-- <figcaption><small>プロフィール画像未登録</small></figcaption> -->
            </div>
          </figure>
          <div class="user-name">
            <h4 class="h6 fw-bold mb-1">てすと じろう</h4>
            <p class="profile-introduction">テキストテキストテキストテキストテキストテキストテキスト<a routerLink="/article/detail/1">...続きを読む</a>
            </p>
          </div>
        </div>
      </div>

    </div>

    <div class="ai-detail__sp">
      <h3 class="h4">彼女について</h3>
      <p class="ai-detail__exp">テキストテキストテキストテキストテキストテキストテキストテキスト<br>
        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
    </div>

  </div>
